
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome to publishers</h1>
</div>
<style>
    .table-bordered th, .table-bordered td {
        border: 1px solid #acbfd2;
    }

    a {
        color: blue;
    }
</style>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead class="bg-secondary text-white">
            <tr>
                <th>Description</th>
                <th>Tax Payable ($)</th>
                <th>Paid through ITC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Integrated Tax</td>
                <td>25,828.00</td>
                <td>25,828.00</td>
                <td>
                    <a href="#">Edit</a> /
                    <a href="#">Delete</a>
                </td>
            </tr>
            <tr>
                <td>Central Tax</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>State/UT Tax</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
            <tr>
                <td>CESS Tax</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
            </tr>
        </tbody>
    </table>
</div>